<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">

      <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

  <!-- Optional theme -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">

  <!-- custom styles -->
  <link rel="stylesheet" type="text/css" href="styles/profile.css">


</head>
<body>
  <!-- Fixed navbar -->
<div class="navbar navbar-custom navbar-inverse navbar-fixed-top" id="nav">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav nav-center">
        <li><a href="/home">Home</a></li>
        <li><a href="#section4">About</a></li>
<!--         <li><a href="/profile">Profile</a></li> -->
        <li><a href="/projects">Projects</a></li>
<!--         <li><a href="giving_circle.html">Giving Circle</a></li>
        <li><a href="#section1">Connect</a></li> -->
     <!--    <li><a href="#" data-toggle="modal" data-target="#signup-modal">Sign Up</a></li>
        <li><a href="#" data-toggle="modal" data-target="#login-modal">Log In</a></li> -->
        <li><a href="/logout">Log Out</a></li>
    </div>
</ul>
</div><!--/.nav-collapse -->
</div><!--/.container -->
</div><!--/.navbar -->

<header>
  <h1>Jennifer Weston</h1>
</header>

  <!-- Begin Body -->
  <div class="container">
    <div class="no-gutter row">
      <!-- left side column -->
      <div class="col-md-2">
        <div class="panel panel-default" id="sidebar">
          <div class="panel-heading" style="background-color:#888;color:#fff;">Sidebar</div> 
          <div class="panel-body">
            <ul class="nav nav-stacked">
              <li><a href="#">Link</a></li>
              <li><a href="#">Link</a></li>
              <li><a href="#">Link</a></li>
              <li><a href="#">Link</a></li>
              <li><a href="#">Link</a></li>
              <li><a href="#">Link</a></li>
            </ul>
            <div class="accordion" id="accordion2">
              <div class="accordion-group">
                <div class="accordion-heading">
                  <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
                    Accordion
                  </a>
                </div>
                <div id="collapseOne" class="accordion-body collapse in">
                  <div class="accordion-inner">
                    Content here for links, ads, etc.. 
                  </div>
                </div>
              </div>
              <div class="accordion-group">
                <div class="accordion-heading">
                  <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
                    Accordion
                  </a>
                </div>
                <div id="collapseTwo" class="accordion-body collapse">
                  <div class="accordion-inner">
                    Another collapse panel. Content here for links, ads, etc.. 
                  </div>
                </div>
              </div>
            </div><!--/acc-->

            <hr>

            <div class="col col-span-12">
              <i class="icon-2x icon-facebook"></i>&nbsp;
              <i class="icon-2x icon-twitter"></i>&nbsp;
              <i class="icon-2x icon-linkedin"></i>&nbsp;
              <i class="icon-2x icon-pinterest"></i>
            </div>

          </div><!--/panel body-->
        </div><!--/panel-->
      </div><!--/end left column-->

      <!--mid column-->
      <div class="col-md-3">
        <div class="panel" id="midCol">
          <div class="panel-heading" style="background-color:#555;color:#eee;">New Stories</div> 
          <div class="panel-body">

            <img class="img-responsive" src="http://i.imgur.com/s01Nzdv.jpg?1">

            <div class="well">
              <img src="http://i.imgur.com/YDzyl72.jpg" class="img-responsive">
              <h3><a href="http://getbootstrap.com">Bootstrap 3 is Here.</a></h3>
              <p>
                In simple terms, a responsive web design figures out what resolution of
                device it's being served on. Flexible grids then size correctly to fit
                the screen.
              </p>
              <p><a href="http://www.bootply.com/bootstrap-3-migration-guide" target="ext">Read our migration guide for help with upgrading to Bootstrap 3.</a></p>
            </div>

            <hr>

            <h3>Top Members</h3>

            <h5><a href="#"><i class="glyphicon glyphicon-user"></i> John Chapman</a></h5>
            <h5><a href="#"><i class="glyphicon glyphicon-user"></i> Max Axleton</a></h5>
            <h5><a href="#"><i class="glyphicon glyphicon-user"></i> Devin Skelly</a></h5>
            <h5><a href="#"><i class="glyphicon glyphicon-user"></i> Katie Kowalski</a></h5>
            <h5><a href="#"><i class="glyphicon glyphicon-user"></i> Amet Deberge</a></h5>

            <hr>  

            <img class="img-responsive" src="//placehold.it/300x200/FFF">    

            <div class="media">
              <a class="pull-left" href="#">
                <img class="media-object" src="http://placehold.it/80/F0F0F0">
              </a>
              <div class="media-body">
                <h5 class="media-heading"><a href="/tagged/modal" target="ext" class="pull-right"><i class="glyphicon glyphicon-share"></i></a> <a href="#"><strong>Modal</strong></a></h5>
                <small>Examples using the Bootstrap modal.</small><br>
                <span class="badge">87</span>
              </div>
            </div>
            <div class="media">
              <a class="pull-left" href="#">
                <img class="media-object" src="http://placehold.it/80/F0F0F0">
              </a>
              <div class="media-body">
                <h5 class="media-heading"><a href="/tagged/slider" target="ext" class="pull-right"><i class="glyphicon glyphicon-share"></i></a> <a href="#"><strong>Carousel</strong></a></h5>
                <small>How to use the Bootstrap slider.</small><br>
                <span class="badge">322</span>
              </div>
            </div>
            <div class="media">
              <a class="pull-left" href="#">
                <img class="media-object" src="http://placehold.it/80/F0F0F0">
              </a>
              <div class="media-body">
                <h5 class="media-heading"><a href="/tagged/typography" target="ext" class="pull-right"><i class="glyphicon glyphicon-share"></i></a> <a href="#"><strong>Typography</strong></a></h5>
                <small>See the various textual elements and options.</small><br>
                <span class="badge">44</span>
              </div>
            </div>
            <div class="media">
              <a class="pull-left" href="#">
                <img class="media-object" src="http://placehold.it/80/F0F0F0">
              </a>
              <div class="media-body">
                <h5 class="media-heading"><a href="/tagged/media" target="ext" class="pull-right"><i class="glyphicon glyphicon-share"></i></a> <a href="#"><strong>@Media</strong></a></h5>
                <small>Use @media queries to get the layout you want.</small><br>
                <span class="badge">119</span>
              </div>
            </div>

          </div> 
        </div><!--/panel-->
      </div><!--/end mid column-->

      <!-- right content column-->
      <div class="col-md-7" id="content">
        <div class="panel">
          <div class="panel-heading" style="background-color:#111;color:#fff;">Top Stories</div>   
          <div class="panel-body">

            <div class="row">
              <div class="col-md-8">
                <h2>Democracy Now News Feed</h2>
                <iframe width="400" height="400" style="border:none;" src="http://output75.rssinclude.com/output?type=iframe&amp;id=1011882&amp;hash=fd00df990c6c96de655b96f178217502"></iframe>
                <br><br>
                <button class="btn btn-default">More</button>
              </div>  
              </div>   
            </div>

            <hr>

             <h2>YOUTUBE NEWS FEED</h2>
            <br><br>
            
            <h1>INSERT STATUS POSTS HERE</h1>

            <hr>

            <div class="well text-center"> 
              <h1>Centered Text</h1>
              This was a 2.x challenge that seems a little easier in 3.
              <br><br>
              <div style="font-size:70pt">
                <i class="glyphicon glyphicon-4x glyphicon-camera"></i>
                <i class="glyphicon glyphicon-4x glyphicon-camera"></i>
                <i class="glyphicon glyphicon-4x glyphicon-camera"></i>
              </div>

            </div>

            <hr>

            <h2>CSS3</h2>
            <img src="//placehold.it/150x100/EEEEEE" class="img-responsive pull-right">
            To understand the RWD approach, you must first understand CSS - the basis of responsive design. CSS enables the developer to use percentage-based (AKA fluid or proportion-based) grids, CSS3 media queries. The web site then adapts to multiple devices (desktop, laptop, tablet, smartphone) and display conditions such as browser size and screen resolution.

            <br><br>
            <button class="btn btn-default">More</button>

            <hr>

            <div class="row">
              <div class="col-md-6">
                <img src="/assets/example/bg_smartphones.jpg" class="img-responsive">

              </div> 
              <div class="col-md-6">
                <h1>There is still a lot to be said about the Responsive Web.</h1>
              </div>   
            </div>

            <hr>

            <h2>Responsive Text</h2>
            Have you ever seen large text blocks overflow their container, or get cut-off? One way to handle this is to ensure
            the text content wraps inside the container. But the more "responsive" way is to scale font-sizes accordingly as the size of the viewing area
            (viewport) changes. Creators of <a href="http://fittextjs.com/">FitText</a> have mastered this in the form of a plugin.

            <hr>


            <div class="well"> 
              <h1>Well..</h1>
              Does anyone know why <a href="#">@mdo</a> or <a href="#">@fat</a> would name this element a "well"?
            </div>

            <hr>

            <h2>Responsive Images</h2>
            The sizing "grid" is not the only aspect of responsive design. Making images and media object scale correctly is another consideration for responsive developers.
            <span class="hidden-sm">Go ahead and shrink your browser's width to see how the HTML elements and images respond as the width of the viewport changes.</span>

            <h1><a href="#"><i class="glyphicon glyphicon-user"></i> <i class="glyphicon glyphicon-chevron-down"></i></a></h1>

            <hr>

            Bootstrap 3 is the latest "Mobile-first" release of the Bootstrap framework that offers a starter foundation for Web designers and developers.
            Bootstrap consists of a CSS and JavaScript library. To use Bootstrap, you simply include (reference) in the HTML of your Web page. There is also a CDN for 
            Bootstrap that serves pages faster.

            <hr>

            This theme was made at Bootply. Bootply is a HTML, JavaScript and CSS editor app built just for Bootstrap. Bootply enables developers to easily apply the Bootstrap Framework to their projects using a beautiful hand-coding interface. The browser-based Bootply editor lets developers select and paste Bootstrap friendly code snippets. Bootply can be used to test, manage and share any Bootstrap code, from small snippets to entire Bootstrap-ready themes. Find it at http://bootply.com

            <hr>

            <div class="row">
              <div class="col-md-3 col-sm-6 col-6">
                <a href="#"><img src="//placehold.it/600X200/EDEDED" class="img-responsive"></a>
              </div>
              <div class="col-md-3 col-sm-6 col-6">
                <a href="#"><img src="//placehold.it/600X200/DDDDDD" class="img-responsive"></a>
              </div>
              <div class="col-md-3 col-sm-6 col-6">
                <a href="#"><img src="//placehold.it/600X200/555555/EEE" class="img-responsive"></a>
              </div>
              <div class="col-md-3 col-sm-6 col-6">
                <a href="#"><img src="//placehold.it/600X200/F3F3F3" class="img-responsive"></a>
              </div>
            </div>
            <br>
            <div class="row">
              <div class="col-md-3 col-sm-6 col-6">
                <a href="#"><img src="//placehold.it/600X200/999999/DDD" class="img-responsive"></a>
              </div>
              <div class="col-md-3 col-sm-6 col-6">
                <a href="#"><img src="//placehold.it/600X200/CCCCCC" class="img-responsive"></a>
              </div>
              <div class="col-md-3 col-sm-6 col-6">
                <a href="#"><img src="//placehold.it/600X200/EDEDED" class="img-responsive"></a>
              </div>
              <div class="col-md-3 col-sm-6 col-6">
                <a href="#"><img src="//placehold.it/600X200/E0E0E0" class="img-responsive"></a>
              </div>
            </div>

            <hr>
            <h4><a href="http://bootply.com/69913">Edit on Bootply</a></h4>
            <hr>

          </div><!--/panel-body-->
        </div><!--/panel-->
        <!--/end right column-->
      </div> 
    </div>
  </div>
  <footer>
    <div class="container">
      <div class="row">
        <div class="col-md-12 text-right"><h5>©Company 2014</h5></div>
      </div>
    </div>
  </footer>
<!-- BOOTSTRAP TEMPLATE -->
<!-- jquery -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.js"></script>

  <!-- bootstrap js -->
  <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>

<!-- custom scripts -->
<script type="text/javascript" src="scripts/profile.js"></script>

  <!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>


</body>
</html>