<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Projects</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">  
  
  <!-- bootstrap css -->
  <link type="text/css" rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

  <!-- custom styles -->
  <link type="text/css" rel="stylesheet" href="styles/projects.css">

  <!-- fonts -->
  <link href='https://fonts.googleapis.com/css?family=Lato:400,700' rel='stylesheet' type='text/css'>

  <!-- mapbox js -->
  <script src='https://api.tiles.mapbox.com/mapbox.js/v2.2.0/mapbox.js'></script>
  
  <!-- mapbox stylesheet -->
  <link href='https://api.tiles.mapbox.com/mapbox.js/v2.2.0/mapbox.css' rel='stylesheet'/>

</head>
<body>
<div id="wrap">

  <!-- Fixed navbar -->
<div class="navbar navbar-custom navbar-inverse navbar-fixed-top" id="nav">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav nav-center">
        <li><a href="/home">Home</a></li>
        <li><a href="#section4">About</a></li>
        <li><a href="/profile">Profile</a></li>
        <li><a href="/projects">Projects</a></li>
<!--         <li><a href="giving_circle.html">Giving Circle</a></li>
        <li><a href="#section1">Connect</a></li> -->
        <li><a href="#" data-toggle="modal" data-target="#signup-modal">Sign Up</a></li>
        <li><a href="#" data-toggle="modal" data-target="#login-modal">Log In</a></li>
        <li><a href="/logout">Log Out</a></li>
    </div>
</div>
</ul>
</div><!--/.nav-collapse -->
</div><!--/.container -->
</div><!--/.navbar -->

<div class="container" id="projects-container">  
  <div class="row">
    <div class="col-xs-12 col-md-3"><h4>Submit Your Project</h4>
      <form id="projects-form">
        <div class="form-group">
          <input type="Project Name" name="project[project_name]" class="form-control" id="entry-proj" placeholder="Project Name" autofocus>
          <input type="Organization Name" name="project[organization]" class="form-control" id="entry-org" placeholder="Organization" autofocus>
          <input type="Contact Info" name="project[contact]" class="form-control" id="entry-contact" placeholder="Contact" autofocus>
          <input type="Street Address" name="project[address]" class="form-control" id="entry-address" placeholder="Address" autofocus>
          <input type="City, State" name="project[city_state]" class="form-control" id="entry-city-state" placeholder="City, State" autofocus>
          <input type="Zip Code" name="project[zip]" class="form-control" id="entry-zip" placeholder="Zip" autofocus>
          <input type="Phone Info" name="project[phone]" class="form-control" id="entry-phone" placeholder="Phone" autofocus>
        </div>

          <div class="form-group">
            <input type="submit" class="btn btn-success" value="Add your Project!">
          </div>
          <br>
    </div>



  <div id='map'>
    <div class="col-xs-5 col-md-9"><br></div>
  </div>
</div>

 <!-- Add projects template here -->
<h4>Current Projects</h4>
    <div class="projects_list" id="current-projects">
  </div>

  <div class="grid-sizer">
  <div class="grid-item"> <!--underscore template -->
<script type="text/template" id="projects-template">
  <div class="grid-item grid-item" id="post">
    <div class="projects_list">
      <p>
        <%= project.project_name %><br> 
        <%= project.organization %><br>
        <%= project.contact %><br>  
        <%= project.address %><br>
        <%= project.city_state %><br>
        <%= project.zip %><br>
        <%= project.phone %> 
        <script>  
          geocoder.query()
        </script>
      </p>
    </div> 
</script>
</div>
 
  <div class="grid-item grid-item--width2">...</div>
  <div class="grid-item">...</div>
  ...
  </div>
</div>




<!-- jquery -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.js"></script>

<!--masonry-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/masonry/3.3.2/masonry.pkgd.min.js"></script>

<!-- underscore -->
<script src="scripts/underscore.js"></script>

<!-- custom scripts -->
<script type="text/javascript" src="scripts/projdata.js"></script>

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

<!-- WOW CDNJ -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/wow/1.1.2/wow.min.js"></script>

<!-- Mapbox Template -->



</body>
</html>