<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Projects</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">  
  
  <!-- bootstrap css -->
  <link type="text/css" rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

  <!-- custom styles -->
  <link type="text/css" rel="stylesheet" href="styles/projects.css">

  <!-- mapbox js -->
  <script src='https://api.tiles.mapbox.com/mapbox.js/v2.2.0/mapbox.js'></script>
  
  <!-- mapbox link -->
  <link href='https://api.tiles.mapbox.com/mapbox.js/v2.2.0/mapbox.css' rel='stylesheet'/>

  <script src='https://api.tiles.mapbox.com/mapbox.js/v2.2.0/mapbox.js'></script>
<link href='https://api.tiles.mapbox.com/mapbox.js/v2.2.0/mapbox.css' rel='stylesheet' />

<style>
  html, body {
    height: 100%;
  }
  
  #map { 
    position: relative;
    top:0; 
    bottom:0; 
    width:75%; 
    height: 80vh; 
    margin:500; 
    padding:50; 
    text-align: right;
  }

</style>

</head>
<body>
  <div id="header" <h1>Justice For Us</h1></div>
  <a href="index.html">Home</a><br><br> 

<img src="http://www.clker.com/cliparts/6/v/y/L/S/U/fist-hi.png" id="fist" width=5% height=10%>
<div class="container">    
  <div class="row">
    <div class="col-xs-12 col-md-3"><h4>Submit Your Project and Organization Information</h4>
      <form id="projects-form">
        <div class="form-group">
          <input type="Project Name" name="project[project_name]" class="form-control" id="entry-proj" placeholder="Project Name" autofocus>
          <input type="Organization Name" name="project[organization]" class="form-control" id="entry-org" placeholder="Organization" autofocus>
          <input type="Contact Info" name="project[contact]" class="form-control" id="entry-contact" placeholder="Contact" autofocus>
          <input type="Street Address" name="project[address]" class="form-control" id="entry-address" placeholder="Address" autofocus>
          <input type="City, State" name="project[city_state]" class="form-control" id="entry-city-state" placeholder="City, State" autofocus>
          <input type="Zip Code" name="project[zip]" class="form-control" id="entry-zip" placeholder="Zip" autofocus>
          <input type="Phone Info" name="project[phone]" class="form-control" id="entry-phone" placeholder="Phone" autofocus>
        </div>

          <div class="form-group">
            <input type="submit" class="btn btn-success" value="Add your Project!">
          </div>
          <br>
    </div>



  <div id='map'>
  <div class="col-xs-5 col-md-9"><script>


</script><br></div>
  </div></div>

 
 <!-- Add projects template here -->
 <div class="container">
  <div class="row">
  <div class="col-xs-9 col-md-9-offset"><h4>Current Projects</h4>
    <div class="projects_list" id="current-projects">
  </div>


 <!--underscore template -->
<script type="text/template" id="projects-template">
  <div class="projects_list">
    <p>
      <%= project.project_name %><br> 
      <%= project.organization %><br>
      <%= project.contact %><br>  
      <%= project.address %><br>
      <%= project.city_state %><br>
      <%= project.zip %><br>
      <%= project.phone %> 
      <script>  
        geocoder.query()
      </script>
    </p>
  </div>
</script>

<!-- jquery -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.js"></script>

<!-- underscore -->
<script src="scripts/underscore.js"></script>

<!-- custom scripts -->
<script type="text/javascript" src="scripts/projdata.js"></script>

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

<!-- WOW CDNJ -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/wow/1.1.2/wow.min.js"></script>

<!-- Mapbox Template -->



</body>
</html>